.translation-form-preview table {
  table-layout: fixed;
}
.translation-form-preview td {
  vertical-align: text-top;
}
.translation-form-preview td:last-child {
  width: 30%;
  overflow: hidden;
  text-overflow: clip;
  vertical-align: top;
}
.field--type-image .translation-form-preview td {
  vertical-align: top;
}
.translation-form-preview table.summary tr td .text-summary-wrapper {
  display: block!important;
}

.translation-form-language-toggle {
  height: 15px;
  width: 100%;
  direction: ltr;
  position: relative;
}

.translation-form-language-toggle:hover, .translation-form-language-toggle:focus {
  cursor: pointer;
}

.translation-form-language-toggle:before {
  content: "";
  background: url(../images/angle-double-right-solid.svg) no-repeat; /* LTR */
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 68%;
}

.translation-form-language-toggle:hover, .translation-form-language-toggle:focus {
  cursor: pointer;
}
*[dir="rtl"] .translation-form-language-toggle:before {
  left: auto;
  right: 68%;
  transform: rotate(180deg);
}

.translation-form-language-toggle-hidden:before {
  left: auto;
  right: 1%;
  transform: rotate(180deg);
}

[dir="rtl"] .translation-form-language-toggle-hidden:before {
  left: 1%;
  transform: none;
}
